{% extends 'base.html' %}
{% block content %}

<h1>Prop List</h1>

{% for prop in props %}
  <div class="card">
    <a href="{% url 'detail' prop.id %}">
      <div class="card-content">
        <span class="card-title">{{ prop.name }}</span>
        <p>Character: {{ prop.character }}</p>
        <p>Description: {{ prop.description }}</p>
        {% if prop.episode > 0 %}
          <p>Episode: {{ prop.episode }}</p>
        {% else %}
          <p>Episode: None!</p>
        {% endif %}
      </div>
    </a>
  </div>
{% endfor %}

{% endblock %}
