body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
}

.nav-wrapper {
  background: rgb(208,162,175);
  background: linear-gradient(144deg, rgba(208,162,175,1) 0%, rgba(89,0,15,1) 5%, rgba(0,33,51,1) 12%, rgba(91,211,219,1) 14%, rgba(90,39,161,1) 19%, rgba(249,205,47,1) 48%, rgba(23,130,35,1) 100%);
}

.page-footer {
  background: rgb(208,162,175);
  background: linear-gradient(144deg, rgba(208,162,175,1) 0%, rgba(89,0,15,1) 5%, rgba(0,33,51,1) 12%, rgba(91,211,219,1) 14%, rgba(90,39,161,1) 19%, rgba(249,205,47,1) 48%, rgba(23,130,35,1) 100%);
}